<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/descricao.css" />
    <title>Vinhos Brancos</title>
  </head>

  <body>
    <nav>
      <ul>
        <li><img src="" alt="" /></li>
        <li><a href="/">Inicio</a></li>
        <li><a id="vinhoTinto" href="/vinhosTintos">Vinhos Tinto</a></li>
        <li><a id="cadastro" href="/cadastro">Cadastrar Vinho</a></li>
      </ul>
    </nav>

    <header>
      <img
        src="./img/banner-vinho-branco.jpg"
        class="imgVinhoBranco"
        alt="Banner"
      />
    </header>

    <main>
      <section id="cards">
        <% vinhoBranco.forEach((vb) => { %>

        <div class="card">
          <a href="/descricaoVB/<%= vb.id %>"
            ><img src="<%= vb.img %>" alt="Imagem do vinho"
          /></a>
          <h2><%= vb.nome %></h2>
          <p></p>
        </div>

        <% }) %>
      </section>
    </main>
    <footer>
      <p>Ednilson Fragoso</p>
      <p><a href="https://github.com/">GitHub</a></p>
    </footer>
  </body>
</html>
