* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  background-color: #fa5ebe67;
}

nav {
  position: fixed;
  padding: 0.7rem;
  z-index: 9999;
  width: 100%;
  background-color: #7a004b;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li {
  padding: 0.6rem;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

nav #inicio:hover {
  text-decoration: solid;
  color: #490a33;
  font-size: 2rem;
  transition: all 0.8s ease-out;
  transform: scale(1.06);
  padding: 5px;
}

nav #vinhoTinto:hover {
  text-decoration: solid;
  color: #490a33;
  font-size: 2rem;
  transition: all 0.8s ease-out;
  transform: scale(1.06);
  padding: 5px;
}

nav #vinhoBranco:hover {
  text-decoration: solid;
  color: #e2ba42;
  font-size: 2rem;
  transition: all 0.8s ease-out;
  transform: scale(1.06);
  padding: 5px;
}

nav #cadastro:hover {
  text-decoration: solid;
  font-size: 2rem;
  transition: all 0.8s ease-out;
  transform: scale(1.06);
  padding: 5px;
}

header img {
  margin-top: 3rem;
  width: 100%;
  height: 300px;
  margin-bottom: 0rem;
}
main {
  display: flex;
  width: 100%;
  justify-content: center;
}

section#cadastro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem;
}

section#cadastro h2 {
  width: 100%;
  text-align: center;
  color: rgb(109, 109, 109);
}

section#cadastro form {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

section#cadastro article img {
  width: 10rem;
  box-shadow: 5px 5px 5px 5px #00000015;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
}

section#cadastro h2 {
  width: 50%;
  text-align: center;
  margin: rem 0 5rem 0;
  padding-bottom: 1rem;
  color: rgb(109, 109, 109);
}

section#cadastro form input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border: solid 2px rgb(197, 197, 197);
  border-radius: 10px;
  margin: 0 1rem 1rem 1rem;
}

section#cadastro form label {
  margin: .5rem;
  color: rgb(148, 148, 148);
}

.btn{
   width: 50%;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1rem;
  border-radius: 20px;
  background-color: #fff;
  border: solid 1px #7a004b;
  color: #7a004b;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  margin-top: 2rem;
}

.btn:hover {
  background-color: red;
  color: #fff;
}

footer {
  background-color: #7a004b;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer p {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.3rem;
}
